.social {
  text-align: right;
}

.social a {
  text-decoration: none;
}

.social a::after {
  display: none;
}

.social svg {
  width: 20px;
  height: 20px;
  fill: #1f1e1e;
  margin-left: 0.75em;
}

.social path,
footer .social rect {
  transition: fill 0.4s ease;
}

#resume svg:hover {
  fill: #8c7ae5;
}

#github svg:hover {
  fill: #9d7bf2;
}

#linkedin svg:hover {
  fill: #0077b5;
}

#instagram svg:hover {
  fill: #e95950;
}

@media only screen and (max-width: 575px) {
  .social {
    text-align: center;
  }
}
