.PageNotFound {
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.6);
}

.PageNotFound h3 {
  margin-top: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.PageNotFound p {
  text-align: center;
  margin-bottom: 5em;
}

.aboutFooter {
  position: absolute;
  bottom: 0;
}
