.postListing {
  padding-top: 3em;
  padding-bottom: 3em;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 0.5em 0.5em;
  margin-top: 2em;
  margin-bottom: 2em;
  overflow: hidden;
  box-shadow: 0 1em 2em 0 rgba(0, 0, 0, 0.3);
  height: auto;
}
.post {
  margin: 1em;
  text-align: center;
}
